body{
  background: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-rainy-weather-with-bad-weather-image_260457.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.weather-box{
  background-color: rgb(210, 242, 255);
  padding: 50px;
  border-radius: 20px;
}